{% extends "base.html" %}
{% block content %}
<div class="card mx-auto border-secondary col-8 mb-4 d-flex p-3">
    <h2 class="text-center">Enter Quiz</h2>
    <form class="mb-0 card-body mx-auto flex-column justify-content-center align-items-center" action="/enterQuiz" method="post">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" name="room_code" placeholder="Room Code" required>
        <label for="floatingInput">Room Code</label>
      </div>
      <label>
      <input type="checkbox" required name="norobot" style="margin-bottom:15px"> I am not a robot!
      </label>
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-outline-secondary" type="submit">Join</button>
      </div>
    </form>
  </div>
{% endblock %}