{% extends "base.html" %}
{% block content %}
<div class="card mx-auto border-secondary col-8 mb-4 d-flex p-3">
  <h2 class="text-center mb-4">Room Number: {{room._id}}</h2>
  {% for result in results %}
  <div class="card mx-auto col-8 mb-4 d-flex p-3 rounded border">
    <h4 class="text-center">{{ result.question }}</h4>
    <div class="card-body">
      <div class="row">
        {% for answer in result.answers %}
        <button class="btn col-5 mx-auto my-2 text-center" style="background-color: {{answer.bgColor}}; color: {{ answer.textColor }}">
          {{ answer.text }} / {{ answer.chooseBy }}
        </button>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}