{% extends "base.html" %}
{% block content %}
<div class="card mx-auto col-8 mb-4 d-flex p-3">
  <h2 class="text-center mb-4">Room Number: #12312</h2>
  <div class="card mx-auto col-8 mb-4 d-flex p-3 rounded border">
    <h3 class="text-center">{{ question.text }}</h3>
    <div class="card-body">
      <div class="row">
        {% for answer in question.answers %}
          <div class="col-5 positionRelative mx-auto my-3 text-center d-flex card p-0 border-0 rounded-3" style="background-color: {{answer.bgColor}}; color: {{ answer.textColor }}">
            <button class="col-12 h4 btn my-auto w-100 h-100" type="submit" style="background-color: {{answer.bgColor}}; color: {{ answer.textColor }}">
              {{ answer.text }}
            </button>
            <!-- <a class="floatingBtnTop btn m-1 btn-secondary bg-danger" type="button" href="#">
              <i class="fa-solid fa-xmark bigIcon"></i>
            </a> -->
            <a class="floatingBtnTop btn m-1 btn-secondary bg-success" type="button" href="#">
              <i class="fa-solid fa-check bigIcon"></i>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}