{% extends "base.html" %}
{% block content %}
<div class="card mx-auto border-secondary col-8 mb-4 d-flex p-3">
    <h2 class="text-center mb-4">My Quizes</h2>
    <div class="row mb-3">
        {% for quiz in quizes %}
        <div class="col-11 col-md-8 mx-auto border py-3 rounded mb-2">
            <h4 class="text-center">Quiz: <strong>#{{ quiz['_id'] }}</strong></h4>
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-secondary my-2 text-center mx-auto" type="button" href="/rooms/{{quiz['_id']}}">Show Questions</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn-lg btn btn-secondary my-2 text-center mx-auto" type="button" href="/createQuizVerification">New Quiz!</a>
    </div>
</div>
{% endblock %}